<main>
    Здравствуйте!<br />
    От Вас поступила заявка на восстановление пароля на сайте video-bloggers-nest.<br />
    Для продолжения восстановления пароля пройдите пожалуйста по
    <a href="<%= urlConfirmAddress %><%= code %>">ссылке</a> .
</main>